body {
    background-color: gray;
}

#mainHeading {
    text-align: center;
    color: white;
    font-size: 40px;
}

#devoured {
    float: left;
    margin-left: 25%;
}

#notDevoured {
    float: left;
    margin-left: 25%;
   
}

form {
clear: both;
}
