* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: arial;
}


#mainHeading {
    text-align: center;
    color: white;
    font-size: 50px;
}

#burgerFlexBox {

     display: -webkit-flex;
     display: flex;
     text-align: center;
     padding-left: 25%;
     padding-right: 25%;
}


#devoured {
    flex: 1 0 0;
    

}
#notDevoured {
    flex: 1 0 0;
}

.devourButton, .deleteButton {
    margin-left: 15px;
}

#burgerForm {
    text-align: center;
    padding-top: 50px
}
