* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: arial;
}

#content {
    margin: 40px;
    text-align: center;
}


#mainHeading {
    text-align: center;
    color: white;
    font-size: 50px;
      padding-left: 25%;
     padding-right: 25%;
}

p {
    margin-top: 25px;
    margin-bottom: 5px;
}

#burgerFlexBox {

     text-align: center;
     padding-left: 15%;
     padding-right: 15%;
}


#devoured {
    width: 450px;
    display: inline-block;

    

}
#notDevoured {
    width: 450px;
    display: inline-block;
    vertical-align:top;
}


.devourButton, .deleteButton {
    margin: 0;
    cursor: pointer;
}

#burgerForm {
    text-align: center;
    margin-top: 55px;
}
